<footer>
    <h5>&copy; Paralog</h5>
    <nav>
        <a href="/" class="button">Home</a>
        <a href="/jumps" class="button">Logbook</a>
        <a href="/rigs" class="button">Gear</a>
        <a href="/jumps/new" id="log-btn" class="button button-primary">Log a Jump</a>
    </nav>
</footer>