<footer>
    <h2>&copy; Paralog</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/jumps">Logbook</a>
        <a href="#">Gear</a>
        <a href="/jumps/new" id="log-btn">Log a Jump</a>
    </nav>
</footer>