<header>
    <h1> <a href="/" style="text-decoration: none; color: black;"> Paralog</a></h1>
    <nav>
        <a href="/" class="button">Home</a>
        <a href="/jumps" class="button">Logbook</a>
        <a href="/rigs" class="button">Gear</a>
        <a href="/jumps/new" id="log-btn" class="button button-primary">Log a Jump</a>
    </nav>
</header>