<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Paralog'}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <h2>Add some gear:</h2>

        <form action="/rigs" method="POST">
            <!-- Jump number input -->
            <label for="name">Name your Rig:</label>
            <input type="string" name="name" required>
            <br>
            <!-- jump date input -->
            <label for="reserve">Reserve Model/Size:</label>
            <input type="string" name="reserve" required>
            <br>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
