<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Paralog'}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main class="container">

        <h2>Add some gear:</h2>

        <form method="POST" action="/rigs">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
          
            <label for="container">Container:</label>
            <input type="text" id="container" name="container" required>
          
            <label for="reserve">Reserve:</label>
            <input type="text" id="reserve" name="reserve" required>
          
            <label for="main">Main:</label>
            <input type="text" id="main" name="main" required>
          
            <label for="aad">AAD:</label>
            <input type="text" id="aad" name="aad" required>
          
            <label for="image">Image:</label>
            <input type="text" id="image" name="image">
          
            <label for="aadServiceDue">AAD Service Due:</label>
            <input type="date" id="aadServiceDue" name="aadServiceDue">
          
            <label for="reserveRepackDue">Reserve Repack Due:</label>
            <input type="date" id="reserveRepackDue" name="reserveRepackDue">
            <br>

            <input type="submit" class="button" value="Submit">
          </form>
          
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
