<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'About | Paralog'}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container about">

        <h2>About Paralog</h2>

        <h5 class="docs-header">Better Data = Better Safety</h5>
        
        <p>Welcome to Paralog, the digital skydiving logbook app that is revolutionizing the way skydivers track their jumps! Our mission is to make the process of tracking skydives easier and more efficient by digitizing the old school paper logbooks.</p>

        <p>With Paralog, skydivers can say goodbye to the hassle of flipping through pages to find data. Our app allows users to sort and search their jumps with ease, making it simple to find the information they need quickly and efficiently.</p>
        
        <p>We understand the importance of keeping track of gear usage for skydivers' safety, which is why our app includes functionality to log which rig was used for each jump. This feature provides valuable data that helps skydivers stay on top of regular gear maintenance, ensuring that they stay safe while enjoying the thrill of skydiving.</p>
        
        <p>At Paralog, we are committed to providing a user-friendly and intuitive experience that simplifies the process of tracking skydives. Our app is designed to be accessible to all levels of skydivers, from beginners to experienced professionals.</p>
        
        <p>We are proud to offer a reliable and innovative solution that improves the safety and efficiency of the skydiving community. Thank you for choosing Paralog, and we look forward to being a part of your skydiving journey!</p>
        
        <h6 class="docs-header">Get started with Paralog</h6>

        <a href="/steps" class="button">Paralog guide</a>
        <a href="/rigs/new" class="button">Add gear</a>
        <a href="/jumps/new" class="button">Log a jump</a>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
