<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Paralog'}) %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        
        <section class="title">
            <h2>Jump into the future with Paralog</h2>
            <h5>Ditch the paper logbook and start tracking your skydives digitally.</h5>
        </section>

        <section class="about">

            <h2>About</h2>

            <section class="row">

                <div class="one-half column box">
                    <h5 class="docs-header">Get started with Paralog</h5>
                    <p>Check out our step-by-step guide to start logging your jumps like a pro.</p>
                    <a href="/steps" class="button">Get Started</a>
                </div>

                <div class="one-half column box"> 
                    <h5 class="docs-header">About Paralog</h5>
                    <p>Enhance your data tracking capabilities by diligently monitoring your jumps and gear usage.</p>
                    <a href="/about" class="button">About Us</a>
                </div>

            </section>

        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
