<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Paralog'}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        
        <section class="title">
            <h2>Jump into the future with Paralog</h2>
            <h5>Ditch the paper logbook and start tracking your jumps digitally.</h5>
        </section>

        <section class="about">

            <h2>About</h2>

            <section class="row">

                <div class="one-half column box">
                    <h5 class="docs-header">Get started with Paralog</h5>
                    <p>Read our step-by-step guide on how to start logging your jumps.</p>
                    <a href="/about" class="button">Get Started</a>
                </div>

                <div class="one-half column box"> 
                    <h5 class="docs-header">About Paralog</h5>
                    <p>Keep better track of your data by tracking jumps and gear usage. </p>
                    <a href="#" class="button">Learn More</a>
                </div>

            </section>

        </section>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
